* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
   color: #fff;
}

body {
   background-color: #000;
}

header {
   border: 2px solid red;
   display: flex;
   justify-content: space-around;
   /*Horizontal*/
}

header>img {
   height: 35px;
}

header>nav {
   border: 2px solid blue;
   display: flex;
   align-items: center;
   /*Vertical*/
   gap: 15px;
   /*Distancia entre elemtos*/
}

#producto {
   display: flex;
   flex-direction: column;
   align-items: center;
   /*Horizontal cuando usamos column*/
   gap: 8px;
}

#producto>img {
   width: 250px;
}

.container-buttons>button {
   background-color: #3746AB;
   height: 35px;
   width: 135px;
   border: none;
   border-radius: 50px;
}

.container-buttons>button:last-child {
   background-color: #000;
   border: 2px solid #3746AB;
   color: #3746AB;
}

#container{
   border: 5px solid green;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(5, 75px);
   gap: 5px;
}

#container > div {
   border: 1px dotted #fff;
   border-radius: 12px;
}

.elemnt4{
   grid-column: span 2;
}

.elemnt5{
   grid-column: span 2;
}

.elemnt6{
   grid-column: span 2;
   grid-row: span 2;
}

.elemnt7{
   grid-column: span 3;
   grid-row: span 3;
}

.elemnt8{
   grid-row: span 2;
}

.elemnt9{
   grid-row: span 2;
}

.elemnt12{
   grid-row: span 2;
   grid-column: span 2;
}

.elemnt13{
   grid-column: span 2;
}

.elemnt14{
   grid-column: span 3;
}